{% extends "base.html" %}

{% block title %}
    Showings
{% endblock %}

{% block content %}
    <h1 class="mt-5">Cooldown</h1>
    <h3 class="mt-3 mb-n1">On global cooldown</h3>
    <small class="text-muted">These shows can not be shown at any event where cooldown applies</small>
    <ul class="list-group pl-0 mt-3">
        {% for series in global_cooldown %}
            <li class="list-group-item">
                <p class="mb-0">{{ series.nice_title }}</p>
                <p class="mb-0 ml-3 text-muted"><i>On cooldown until academic year: {{ series.cooldown_academic_year }}</i></p>
            </li>
        {% endfor %}
    </ul>
    <h3 class="mt-4 mb-n1">On exec choice cooldown</h3>
    <small class="text-muted">These shows can be main series, but not exec choices</small>
    <ul class="list-group pl-0 mt-3">
        {% for series in exec_choice_cooldown %}
            <li class="list-group-item">
                <p class="mb-0">{{ series.nice_title }}</p>
                <p class="mb-0 ml-3 text-muted"><i>On cooldown until academic year: {{ series.cooldown_academic_year }}</i></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
