/* Custom CSS for the site */

/* Color Overrides */
.bg-primary {
    background-color: #328CC1 !important;
}

.bg-secondary {
    background-color: #0B3C5D !important;
}

/* Padding Overrides */
body .container {
    padding-top: 60px;
}