/* Custom CSS for the site */

/* Color Overrides */
.bg-primary {
    background-color: #328CC1 !important;
}

.bg-secondary {
    background-color: #0B3C5D !important;
}

/* Padding Overrides */
body .container {
    padding-top: 60px;
}

/* Class used to size profile picture in the navbar */
.image-navbar-avatar {
    width: 40px;
}

/* Class used for sizing avatar images for event signups */
.image-signup-avatar {
    width: 64px;
}

/* Class used for sizing wiki site links in the showings listing */
.image-showings-link {
    width: 32px;
}

/* Multi Carousel button centering */
.multi-carousel-button {
    display: flex !important;
    cursor: pointer !important;
}

/* Multi Carousels should only show 1 item on mobile */
@media (max-width: 576px) {
    .multi-carousel-item {
        display: block !important;
    }

    .multi-carousel-button {
        display: none !important;
    }
}

/* Bootstrap breakpoint overrides */

/* sm prefix */
@media (min-width: 576px) {

}

/* md prefix */
@media (min-width: 768px) {

}

/* lg prefix */
@media (min-width: 992px) {

}

/* xl prefix */
@media (min-width: 1200px) {
    /* Container size override. By default the max-width of a container in at this viewport size is 1140px, this results
    in a lot of wasted space in the margins on large monitors. This is of particular concern in the archive app,
    as images are very small. */
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 90%;
    }
}