{% extends "base.html" %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block content %}
    <div class="jumbotron mt-5">
        <h1 class="display-4">{{ event.title }}</h1>
        <p class="lead">{{ event.subtitle }}</p>
        <hr class="my-4">
        <p><b>When:</b> {{ event.nice_when_descriptor }}</p>
        {% if event.event_location != "" %}
            <p><b>Where:</b> {{ event.event_location }}</p>
        {% endif %}
    </div>
    <p>{% load martortags %}{{ event.details|safe_markdown }}</p>
    {% if event.signup_required %}
        <h2 class="mt-3 mb-n1">Event Signups</h2>
        <small class="text-muted mb-5">{{ event.signup_count }} places filled</small>
        {% if event.signups_closed %}
            <h4>Signups for this event have closed</h4>
        {% elif not event.signups_open and not user.is_staff %}
            <h4>Signups for this event will open {{ event.nice_signups_date }}</h4>
        {% elif already_signed_up %}
            <h4>You have signed up for this event</h4>
            <a class="btn btn-danger" href="{% url 'events:cancel_signup' event_id=event.id %}">Cancel</a>
        {% elif event.is_full %}
            <h4>This event is full</h4>
        {% elif user.is_authenticated %}
            <form action="{% url "events:event_detail" event_id=event.id %}" method="POST" class="mt-3">
                {% csrf_token %}
                <div class="input-group">
                    <label for="signupComment"></label>
                    <input type="text" class="form-control {% if form.signup_comment.errors %}is-invalid{% endif %}"
                           id="signupComment" name="signup_comment" placeholder="Signup Comment">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Signup!</button>
                    </div>
                    {% for error in form.signup_comment.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </form>
        {% else %}
            <h4>Login to signup for this event</h4>
        {% endif %}
        <ul class="list-unstyled">
            {% load static %}
            {% for signup in signups %}
                <li class="media mt-3">
                    <img alt="Avatar" class="mr-3 image-signup-avatar rounded"
                            {% if signup.member.avatar_image %}
                         src="{{ signup.member.avatar_image.url }}"
                            {% else %}
                         src="{% static "images/default_avatar.png" %}"
                            {% endif %}
                    >
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">
                            {{ signup.member }}
                            {% if user.is_staff and signup.member.discord_tag %}
                                - ({{ signup.member.discord_tag }})
                            {% elif user.is_staff %}
                                - ({{ signup.member.user.username }})
                            {% endif %}</h5>
                        {{ signup.comment }}
                    </div>
                </li>
            {% empty %}
                <h3 class="mt-3 text-muted">No signups yet.</h3>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
