{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-3">Login</h1>
    <p>If you've just joined the society, check your Warwick Email for an email containing your password</p>
    <form action="{% url "members:login" %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                   value="{{ username }}">
            <small id="usernameHelp" class="form-text text-muted">Your username is usually your 7 digit warwick student
                ID number</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="{% url "members:forgot_password" %}">Forgot password</a>
    </form>
{% endblock %}