{% extends "base.html" %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block content %}
    <h1 class="mt-5">{{ item.name }}</h1>
    <div class="row mt-5">
        <!-- Images will take up the full width on sm/xs screens or they would be impossible to see -->
        <div class="col-12 col-lg-8 col-xl-8 pr-5">
            {% if item.type == 'im' %}
                <img id="archiveImage" class="img-fluid" src="{{ item.file.url }}" alt="{{ filename }}">
            {% else %}
                <video style="max-width: 100%; max-height: 100%;" controls>
                    <source src="{{ item.file.url }}">
                </video>
            {% endif %}
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>File information</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Original file name: {{ filename }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Filesize: {{ filesize }}KB</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Created on: {{ item.date }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{% load martortags %}{{ item.details|safe_markdown }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(window).on('load', archiveSize())
    </script>
{% endblock %}

