{% extends "base.html" %}

{% block title %}
    Karaoke Guide
{% endblock %}

{% block content %}
    <h1 class="mt-5">How to map a song for karaoke</h1>
    <p><i><a href="https://pastebin.com/WfZTmEnC">Original Guide</a> by Zoggoth</i></p>

    <p>You'll work out you're own way of doing stuff. I've been pretty specific about how I do it since I know
        exactly how and why I do everything but I'm sure everyone has a slightly different way that works best
        for them.</p>

    <p>Mapping takes approximately 1 hour per minute of song you want to map (repetitive songs are probably faster,
        you'll be slower while you're learning).</p>

    <h5>Programs needed:</h5>
    <ul>
        <li><a href="https://people.umass.edu/jvight/SongEasy/">
            SongEasy
        </a>: It plays back the song and you tap out the rhythm to place lyrics. Easiest way to get a base to
            work with.
        </li>
        <li><a href="https://usdx.eu/">
            UltraStar Deluxe
        </a>: Karaoke program that comes with an editor
        </li>
    </ul>

    <h5>Optional programs:</h5>
    <ul>
        <li>If you're using a different karaoke program to play the song, you'll want that for testing. At the
            society events we use <a href="https://www.vocaluxe.org/">Vocaluxe</a>.
        </li>
        <li>If you're using a video, something to extract the audio from it so they sync up perfectly (I use
            <a href="https://www.audacityteam.org/">Audacity</a> and normalise the audio at the same time)
        </li>
    </ul>

    <h5>Step 1: Making the basic file</h5>
    <ul>
        <li>Obtain a copy of your song (SongEasy likes mp3, ogg & wav, but others might work)</li>
        <li>
            Obtain a Background Image (appears during play), Cover Image (appears on song select)
            & Background Video (appears during play, not required)
        </li>
        <li>
            Obtain lyrics. I always take out all the weird letters to make sure it runs on absolutely everything
            (copy into notepad, save as ANSI format, reopen)
        </li>
        <li>In SongEasy, "Pick Song" and set up the Images & Video.</li>
        <li>
            If you know the bpm (any number of websites let you search) then enter that. Otherwise "Play Song" and
            tap "B" to the beat. It might be a little off, I always round it since fractional bpm is unusual. Delete
            First Beat or leave it as it is, it doesn't make a huge difference.
        </li>
        <li>
            Go to the lyrics tab, copy lyrics and "Load Lyrics from Clipboard". "Play Song" and tap "L" on each word
            as it plays. It doesn't matter if it's a bit off, good enough is good enough and we'll fix it later. I
            don't even bother holding notes for as long as they go, but you can if you want.
        </li>
        <li>
            "Save UltraStar Song" and move the folder from your "SongEasy Songs" folder (see top right of SongEasy
            for location) to "UltraStar Deluxe\songs".
        </li>
        <li>
            I have had SongEasy throw up an error while making lyrics on some longer songs. Press continue, save
            the file, change the song folder name, then make another file from the point it crashed onwards. Open up
            both .txts and just replace the end of one file with the start of the other (skipping the section at the
            start with song title & stuff)
        </li>
    </ul>

    <h5>Step 2: Quick fixes</h5>
    <ul>
        <li>
            Open the .txt in the folder. It will start something like:
            <pre><code>
#TITLE:Title
#ARTIST:Title
#LANGUAGE:English
#MP3:Title.wav
#COVER:Title Cover.jpg
#BACKGROUND:Title.jpg
#VIDEO:Title.mp4
#BPM:Double the bpm you entered (allows more precision)
#GAP:0
            </code></pre>
            You'll want to update the Artist (and Language) and probably add <code>#CREATOR:</code> and save.
        </li>
        <li>
            Open the song in UltraStar (hover over it and press "E") at the moment all the notes are set very high
            by default so press "-" on the numpad to shift the whole song down to around Tone 19. If you don't have a
            numbpad, you'll have to open the .txt again and replace " 64 " (the very high note) with " 19 "
            (Ctrl + H in Notepad) press "R" to reload in the editor afterwards.
        </li>
        <li>
            The lines breaks in the song are probably in weird places, arrow keys move you around the song,
            Shift + "/" combines current line with next, "/" starts a new line on the selected note. Set the song
            up with more reasonable lines, you can press "P" to play the current line to get a better idea of where
            they should be.
        </li>
    </ul>

    <h5>Step 2.5: Crash course in the Ultrastar Editor</h5>
    <ul>
        <li>See the Ultrastar
            <a href="https://github.com/UltraStar-Deluxe/USDX/blob/master/README.md">documentation</a>
            for a complete set of keybinds.
        </li>
        <li><b>Arrow keys:</b> Select note</li>
        <li><b>Shift + Arrow Keys:</b> Moves selected note (pitch & timing)</li>
        <li><b>Alt + Left/Right:</b> Moves end of note</li>
        <li><b>Ctrl + Left/Right:</b> Moves start of note</li>
        <li><b>Ctrl + /:</b> Split selected note into 2 notes</li>
        <li><b>P:</b> Plays audio for selected line. + Shift plays the mapped notes instead</li>
        <li><b>Space:</b> Plays audio for selected note. + Shift plays the mapped note instead</li>
        <li><b>Ctrl + Delete:</b> Deletes selected note</li>
    </ul>

    <h5>Step 3: Note Timings</h5>
    <ul>
        <li>
            The way we used SongEasy will have one note per word, and we want 1 note per syllable. Go through the
            whole song and split (Ctrl + "/") notes as appropriate and move them into the correct places. Don't
            bother with length & pitch, just put the start in the right place (move them about and press Space
            until you here the start of the syllable).
        </li>
        <li>
            The extra syllables will be "~" so correct these (F4 to toggle text entry).
        </li>
        <li>
            One thing to be careful of is s/sh sounds, which will be heard much earlier than you want them, shift
            ahead until you hear the vowel after them (tbh, do that with all notes).
        </li>
        <li>
            Another way you can mess up is if the song is sung slightly inconsistently, notes may not be in the
            "right place" musically speaking. I err on the side of having it as written rather than as sung, which
            usually means keeping notes a multiple of 4 away from each other.
        </li>
        <li>
            You'll want to correct the syllables here by clicking on the lyric in the top left and typing it in.
            Since this is the really only useful button, I hover over it the whole time so enter selects/deselects
            it as I need. Remember spaces on the last syllable of every word (inc. last in line in case you change
            line breaks).
        </li>
        <li>If a syllable changes pitches, you can split it now or at the pitch setting stage.</li>
    </ul>

    <h5>Step 4: Note Pitches</h5>
    <ul>
        <li>
            Quite a lot of notes will be 4 ticks apart so open the .txt and replace " 1 " & " 2 " with " 3 " to
            change those quickly now. 4s would be a bit harsh on getting between the notes in time, and 2s just
            look bad in the player (unless the line is quite short). You want to do it now as it's easier to locate
            pitch if your notes are longer. Remember to (R)eload.
        </li>
        <li>
            Go through the whole song again. If you have a mic you can sing and the pitch will appear in the bottom
            left, otherwise just use Space and Shift + Space and move (Shift + arrows) the note about until those 2
            sound the same.
        </li>
        <li>
            If you know the song well you can do this a bit quicker, particularly in loud sections where it's hard
            to hear the exact note. I'd always P and Shift + P at the end of each line to check it sounds right.
        </li>
        <li>
            If something is spoken or a background thing you don't want people to sing, "F" sets it to not appear as
            a note and give no points. "F" twice sets it to give points with no pitch, but isn't supported by some
            karaoke programs (the song will just not appear in your list).
        </li>
        <li>Again, splitting multi-syllable notes can be done now or later.</li>
    </ul>

    <h5>Step 5: Note Length</h5>
    <ul>
        <li>
            Through the whole song again. For every note remember where it started and move (Shift + arrows) it
            along, pressing Space until you can't hear the syllable.
        </li>
        <li>
            Move the note back one, move the end back (Alt + left) so it's a 1 length note and move the start of
            the note back to where it originally was (Ctrl + left).
        </li>
        <li>
            Space once more to check for whether the note changes pitch, but it's up to you whether that's a mistake
            or a multi-syllable note, which you should put in now.
        </li>
        <li>
            Try not to count the breath at the end of notes as part of the note, you can choose how mean to be when
            notes end midway through a timing.
        </li>
        <li>
            If your screen turns around then you pressed Alt + Ctrl + Left. Alt + Ctrl + Up will fix it.
        </li>
    </ul>

    <h5>Step 6: Fixing things up</h5>
    <ul>
        <li> Selecting a note and pressing Shift + "I" will set that as the preview point. Unfortunately UltraStar
            previews starts slightly late for some reason, so it will sound rubbish, you can move the note left a
            bit and set the preview slightly earlier if you want, but most karaoke programs will be fine without.
        </li>
        <li>
            The .txt has data to indicate when the displayed lines should change. "T" will set these to be as soon
            as the previous line finishes, which is fine (currently it might be before then) but I prefer the do it
            as late as possible (although most programs will force it to be displayed a few seconds before it's
            sung).
        </li>
        <li>
            To do this select the first note and press (Left Arrow, Shift + "/", Right Arrow, "/") once for each
            line in the song. This will combine and split every line, moving the line starts to the correct
            position.
        </li>
        <li>
            At this point you should probably test how it plays. I use Vocaluxe in 4 player mode, which has a habit
            of squishing the notes a bit to fit 2 columns of people. Just split any line that looks too squished
            (you could also extend 3 length notes by one, assuming the next note isn't too harsh of a jump).
        </li>
        <li>"C" will capitalise the first word of every line (but not things in brackets).</li>
        <li>"G" will turn notes gold for double points.</li>
    </ul>

    <br>
    <p>The above 6 steps should be enough to map most songs.</p>
    <br>

    <h5>Advanced Stuff:</h5>
    <p><b>How the file works</b></p>
    <p> Here's a line from a file: <code>: 136 9 17 Hold</code></p>
    <p>: means sung, the others are * (gold note), F (spoken), R (Rap), G (gold rap) but some karaoke programs
        can't use rap.</p>
    <p>136 is when the note starts, 9 is how long the note is, 17 is the pitch, "Hold " is the lyric.</p>
    <p>Lines like <code>- 282</code> appear in between lines of the song, 282 is the time the next line should be
        displayed, if there is an instrumental section you can put an extra line like:</p>
    <pre><code>
-147
-382
    </code></pre>
    <p>To get rid of the previous line during the instrumental section. Some karaoke programs treat these numbers
        as a suggestion, so don't worry if it doesn't seem to be working exactly as you say.</p>
    <p>The file ends with the line "E" for end.</p>

    <p><b>Duets</b></p>
    <p>The UltraStar editor doesn't support duets, if you load a duet and then save <b>YOU LOSE HALF YOUR MAP</b>.
        Map 2 songs, copy them and store the copies somewhere safe, then combine them into one with</p>
    <pre><code>
P1
First Part (get rid of the E line at the end)
P2
Second Part
E
    </code></pre>
    <p>The parts are named at the start of the file with <code>#DUETSINGERP1:</code></p>

{% endblock %}