{%  extends "base.html" %}

{% block title %}
    Change Password
{%  endblock %}

{% block content %}
    <h1 class="mt-5">Forgot your password</h1>
    <form  novalidate action="{% url "members:forgot_password" %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="emailInput" name="email" aria-describedby="emailHelp" placeholder="firstname.surname@warwick.ac.uk">
            {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <small id="emailHelp" class="form-text text-muted">Your university email address. If you are a graduate and no longer have access to this, please contact the webmaster.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
