{% extends "base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <h1 class="mt-5">Change your password</h1>
    <form action="{% url "members:change_password" %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="oldPasswordInput">Old password</label>
            <input type="password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                   id="oldPasswordInput" name="old_password" placeholder="Old password">
            {% for error in form.old_password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <small id="oldPasswordHelp" class="form-text text-muted">Your current password.</small>
        </div>
        <div class="form-group">
            <label for="newPassword1Input">New password</label>
            <input type="password" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                   id="newPassword1Input" name="new_password1" placeholder="New password">
            {% for error in form.new_password1.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <small id="newPassword1Help" class="form-text text-muted">Your new password.</small>
        </div>
        <div class="form-group">
            <label for="newPassword2Input">New password confirmation</label>
            <input type="password" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                   id="newPassword2Input" name="new_password2" placeholder="New password again">
            {% for error in form.new_password2.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <small id="newPassword2Help" class="form-text text-muted">Your new password again.</small>
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
        <a class="btn btn-danger" href="{% url "members:profile" %}">Cancel</a>
    </form>
{% endblock %}
