<footer class="bg-light mt-5">
    <div class="nav justify-content-around">
        <a class="nav-link text-muted" href="{% url 'miscellaneous:discord' %}">Discord</a>
        <a class="nav-link text-muted" href="{% url 'miscellaneous:instagram' %}">Instagram</a>
        <a class="nav-link text-muted" href="{% url 'miscellaneous:malclub' %}">MAL Club</a>
        <a class="nav-link text-muted" href="{% url 'miscellaneous:warwicksu' %}">Warwick SU</a>
        <a class="nav-link text-muted" href="{% url 'miscellaneous:privacy' %}">Privacy Policy</a>
        <a class="nav-link text-muted" href="{% url 'miscellaneous:github' %}">Github</a>
    </div>
</footer>