<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'miscellaneous:home' %}">
            Warwick Anime and Manga Society
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events:upcoming' page=1 %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:listing' category='all' page=1 %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'showings:showings' page=1 %}">Showings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'library:library_list' page=1 %}?category=all">Library</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarKaraokeDropdown" data-toggle="dropdown">
                        Karaoke
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'karaoke:karaoke_list' page=1 %}">List</a>
                        <a class="dropdown-item" href="{% url 'karaoke:request' %}">Request</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSocietyDropdown" data-toggle="dropdown">
                        Society
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'history:history' %}">History</a>
                        <a class="dropdown-item" href="{% url 'archive:index' %}">Archive</a>
                    </div>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarSocietyDropdown" data-toggle="dropdown">
                            Exec Tools
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'showings:cooldown_dashboard' %}">Cooldown</a>
                            <a class="dropdown-item" href="{% url 'stream:viewcount' %}">Stream Viewcount</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav flex-row">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown mr-n3">
                        {% load static %}
                        <a class="nav-link pb-0 pt-0" href="#" id="navbarMemberDropdown" data-toggle="dropdown">
                            {{ user.member }}
                            <img alt="Avatar" class="ml-1 image-navbar-avatar rounded"
                                    {% if user.member.avatar_image %}
                                 src="{{ user.member.avatar_image.url }}"
                                    {% else %}
                                 src="{% static "images/default_avatar.png" %}"
                                    {% endif %}
                            >
                        </a>
                        <div class="dropdown-menu">
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'members:profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'members:logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "members:login" %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>