{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}


<div
    style="position: fixed; top: 20vh; left: 48vw; width: 500px; height: 100px; scale: 300%; z-Index: 50; background: linear-gradient(to right,purple, black); -webkit-background-clip: text; color: transparent; z-index: 120;">
    <p style="font-family: 'Comic Sans MS', cursive; ">INTRODUCING DISCORD BATTLE-PASS!!!</p>
</div>
<div
    style="background-color: rgba(123, 222, 255, 0.641) ; position: fixed; top: 12vh; left: 0vw; width: 100%; height: 79%; z-index: 100; pointer-events: none;">
</div>
<div
    style="position: fixed; top: 20vh; left: 84vw; width: 100px; height: 100px; transform: rotate(60deg); scale: 200%; z-Index: 50; background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); -webkit-background-clip: text; color: transparent; z-index: 120;">
    <p style="font-family: 'Comic Sans MS', cursive; ">AMAZING VALUE!!</p>
</div>
<img src="../static/images/Ani-ChanThumbsUp.png" alt="..."
    style="position: fixed; top: 80vh; left: 70vw; scale: 400%; z-Index: 102">
</div>
</div>
<img src="../static/images/noWayJamie.png" alt="..."
    style="position: fixed; top: 45vh; left: -5vh; scale: 80%; z-Index: 102">
</div>
<img src="../static/images/fireGif.gif" alt="..."
    style="position: fixed; top: -30vh; left: 25vw; scale: 250%; z-Index: 100; opacity: 50%;">
</div>

<div class=" row row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center mx-auto "
    style=" width: 92%; align-items: center; position: fixed; top: 1vh; left: 4vw; z-index: 101;">
    <div class=""
        style="scale: 70%; height: 100%; border-radius: 15px; overflow: hidden; padding: 0px; transition: transform 0.3s ease-in-out;"
        onmouseover="this.style.transform='scale(1.02)'" onmouseout="this.style.transform='scale(1)'">
        <div class="col mb-5" style="height: 100%; width: 100%; ">
            <div class="card h-100"
                style="border: 10px solid; border-image: linear-gradient(to bottom, #Cd7f31, #6e3a06) 1; ">
                <img class="card-img-top" src="../static/images/logo/BronzeImage.png" alt="..." />
                <div class="card-body p-4">
                    <div class=" text-center">
                        <h5 class="fw-bolder"> Bella Italia <i>(Bronze Tier)</i></h5>
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                        </div>
                        <strong>Free</strong>
                        <div style="margin-top: 2em; font-style: italic; scale: 110%;">
                            <li>Limited Access to Discord only</li>
                        </div>

                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="https://www.youtube.com/watch?v=NTxoH_5CnhM"
                            target="_blank" style="transition: transform 0.3s;">Cheapskate
                            smh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="scale: 70%; height: 100%; border-radius: 15px; overflow: hidden; padding: 0px; transition: transform 0.3s ease-in-out;"
        onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
        <div class="col mb-5" style="height: 100%; width: 100%; ">
            <div class="card h-100"
                style="border: 10px solid;border-image: linear-gradient(147deg, #d7d7d7 0%, #353535c7 85%) 1;">
                <img class="card-img-top" src="../static/images/logo/SilverImage.png" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h4 class="fw-bolder">To Pho <i>(Silver Tier)</i></h4>
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        <strong>£10/year</strong>
                        <div style="margin-top: 2em; font-style: italic;">
                            <ul style="scale: 110%;">
                                Previous tiers plus..
                                <li>Full Access to Discord channels</li>
                                <li>Chat live with Ani-Chan!!</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                            href="https://www.youtube.com/watch?v=8HEWJiRmw3g" target="_blank">BUY NOW!!</a></div>
                </div>
            </div>
        </div>
    </div>
    <div style="scale: 70%; height: 100%; border-radius: 15px; overflow: hidden; padding: 0px;  transition: transform 0.3s ease-in-out;"
        onmouseover="this.style.transform='scale(1.07)'" onmouseout="this.style.transform='scale(1)'">
        <div class="col mb-5" style="height: 100%; width: 100%;">
            <div class="card h-100"
                style="border: 10px solid; border-image: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1; ">
                <img class="card-img-top" src="../static/images/logo/GoldImage.png" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h3 class="fw-bolder">Hello Vietnam <i>(Gold Tier)</i></h3>
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        <strong>£150.00/week</strong>
                        <div style="margin-top: 2em; font-style: italic;">
                            <ul style="scale: 110%;">
                                Previous tiers plus..
                                <li>Ability to purchase Ani-chan themed merch</li>
                                <li>Exclusive Ani-Chan DM's!!</li>
                                <li>Single-Use pass to force a seasonal for Main Series</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://youtu.be/MXPij9Rp5vI"
                            target="_blank">BUY NOW!!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="scale: 75%;  border-radius: 15px; overflow: hidden; padding: 0px; box-shadow: 0 0 100px 0 #83e4fa; transition: transform 0.3s ease-in-out;"
        onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
        <div class="col mb-5" style="height: 100%; width: 100%;">
            <div class="card h-100"
                style="border: 11px solid; border-image: linear-gradient( 110deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% ) 1;  ">
                <div class="badge bg-dark text-white position-absolute" style="top: 1.2rem; right: 2rem; scale: 150%;">
                    MEGA SALE!!!</div>
                <img class="card-img-top" src="../static/images/logo/UltraImage.png" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h2 class="fw-bolder">Shin Ramen <div><i>(Ultra-Deluxe-Rainbow Tier)</i> </div>
                        </h2>
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        <span class="text-muted text-decoration-line-through"><i>£32,000</i></span>
                        <strong style="font-size: 1.5em;">£999/day!!!</strong>
                        <div style="margin-top: 2em; font-style: italic;">
                            Previous tiers plus...
                            <ul style="scale: 110%;">

                                <li>Free Shipments on Ani-Chan merch!!</li>
                                <li>EXEC PRIVILEGES</li>
                                <li>Ani-Chan Video Call (OMG ANIME IN REAL LIFE???!??!) </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="https://www.youtube.com/watch?v=9uU8YaBqr7E"
                            target="_blank" style="transition: transform 0.3s;">BUY
                            NOW!!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<div class="row mt-5">
    <div class="col">
        <h1>Warwick Anime and Manga Society</h1>
        <br>
        <p>The Anime and Manga Society is Warwick's student-run society for anyone with an interest in Anime and
            Manga. The society is for anyone who would like to meet others who share these interests, or who just
            want to join us for one of the many events we run each academic year.</p>
        <br>
        <p>Our regular viewings take place in <a
                href="https://campus-cms.warwick.ac.uk/share/02d51d21033acb64bb06542c136b1a3b">MS.02 (on the ground
                floor of the Maths Building)</a> , starting at 19:00 every Tuesday during term time.
            These events incorporate time for socialising as well as watching anime, so they're an excellent
            opportunity to meet others and have fun. In addition to this, we also hold many
            socials and other <a href="{% url 'events:upcoming' page=1 %}">events</a> across the year!
        </p>
        <br>
        <p>Most of our society communications are made through our discord server, this is also a good place to meet
            and discuss anime with other members of the society, you can join <a
                href="{% url 'miscellaneous:discord' %}">here</a>.</p>
        <br>
    </div>
    <div class="col-10 col-lg-5 p-5">
        {% load static %}
        <img class="img-fluid align-self-center" src="{% static 'images/logo/logo-filled-black.svg' %}"
            alt="Society Logo">
    </div>
</div>

{% comment %}
This hanging closing tag is used to close the <main> from the base template. This is needed so that the row
    container with the events carousel can be full width.
    {% endcomment %}
</main>

<div class="container-fluid">
    <div class="row expanded-row text-center bg-primary text-white">
        <div class="col-1 multi-carousel-button" onclick="multiCarouselPrev()">
            <span class="carousel-control-prev-icon align-self-center"></span>
        </div>
        <div class="col-12 col-md-10 pt-5 pb-5">
            <div id="multiCarousel" class="row">
                <div class="col-12 col-md-4 multi-carousel-item">
                    <h5>Weekly Showings</h5>
                    <p>Our regular viewings take place in <a style="color: #c0c0c0;"
                            href="https://campus-cms.warwick.ac.uk/share/02d51d21033acb64bb06542c136b1a3b">MS.02
                            (on the ground floor of the Maths Building)</a> ,
                        starting at 19:00 every Tuesday during term time.
                    </p>

                </div>
                <div class="col-12 col-md-4 multi-carousel-item">
                    <h5>Meal Socials</h5>
                    <p>Come join us for our meal socials. We usually go to Japanese style restaurants in the
                        Coventry area.</p>
                </div>
                <div class="col-12 col-md-4 multi-carousel-item">
                    <h5>Karaoke</h5>
                    <p>Join us for an evening Karaoke session featuring all types of music from Anime openings to
                        Western classics!</p>
                </div>
                <div class="col-12 col-md-4 multi-carousel-item" style="display: none;">
                    <h5>Movie Nights</h5>
                    <p>Come along to our Movie Nights to watch a range of anime films.</p>
                </div>
                <div class="col-12 col-md-4 multi-carousel-item" style="display: none;">
                    <h5>All-Nighters</h5>
                    <p>Join us from 8pm to 8am for our All-Nighter events where we watch a collection of movies or
                        shows throughout the entire night.</p>
                </div>
                <div class="col-12 col-md-4 multi-carousel-item" style="display: none;">
                    <h5>Manga/LN Socials</h5>
                    <p>Come along to socialise whilst reading Manga and Light Novels.</p>
                </div>
            </div>
        </div>
        <div class="col-1 multi-carousel-button flex-row-reverse text-right" onclick="multiCarouselNext()">
            <span class="carousel-control-next-icon align-self-center"></span>
        </div>
    </div>
</div>

<main class="container flex-grow-1">
    <div class="row mt-5">
        <div class="col-12 col-sm-8">
            <h2>News and Announcements</h2>
            {% for article in recent_articles %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle text-muted mb-2">{{ article.get_article_type_display }}</h6>
                    <p class="card-text">
                        {% load martortags %}{{ article.content|safe_markdown|truncatewords:20 }}</p>
                    <a href="{% url 'news:article_detail' article_id=article.id article_slug=article.slug %}"
                        class="card-link">Read</a>
                </div>
            </div>
            {% empty %}
            <h4 class="text-muted">No recent news.</h4>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2>Upcoming Events</h2>
                    {% for event in upcoming_events %}
                    <div class="card mb-3">
                        <div class="card-body overflow-hidden">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <a href="{% url 'events:event_detail' event_id=event.id %}" class="card-link">Details</a>
                        </div>
                    </div>
                    {% empty %}
                    <h4 class="text-muted">No upcoming events.</h4>
                    {% endfor %}
                </div>
            </div>
            {% if ongoing_events %}
            <div class="row">
                <div class="col">
                    <h2>Ongoing Events</h2>
                    {% for event in ongoing_events %}
                    <div class="card mb-3">
                        <div class="card-body overflow-hidden">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <a href="{% url 'events:event_detail' event_id=event.id %}" class="card-link">Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endblock %}

    {% block javascript %}
    {% if alert %}
    {% load martortags %}
    <script>
        let messagesDiv = document.getElementById('messagesDiv');
        let alertMessage = document.createElement('div');
        let messageText = '{{ alert.content|safe_markdown }}'
        alertMessage.className = 'alert alert-info';
        alertMessage.innerHTML = messageText;
        messagesDiv.appendChild(alertMessage);
    </script>
    {% endif %}
    {% endblock %}